<h1>Listing hotspots</h1>

<table>
  <tr>
    <th>Range</th>
    <th>Number reports</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hotspots.each do |hotspot| %>
  <tr>
    <td><%= hotspot.range %></td>
    <td><%= hotspot.number_reports %></td>
    <td><%= link_to 'Show', hotspot %></td>
    <td><%= link_to 'Edit', edit_hotspot_path(hotspot) %></td>
    <td><%= link_to 'Destroy', hotspot, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hotspot', new_hotspot_path %>
