<p id="notice"><%= notice %></p>

<p>
  <b>Range:</b>
  <%= @hotspot.range %>
</p>

<p>
  <b>Number reports:</b>
  <%= @hotspot.number_reports %>
</p>


<%= link_to 'Edit', edit_hotspot_path(@hotspot) %> |
<%= link_to 'Back', hotspots_path %>
