<%= form_for(@r_eport) do |f| %>
  <% if @r_eport.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@r_eport.errors.count, "error") %> prohibited this r_eport from being saved:</h2>

      <ul>
      <% @r_eport.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
