<h1>Listing r_eports</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @r_eports.each do |r_eport| %>
  <tr>
    <td><%= r_eport.name %></td>
    <td><%= r_eport.email %></td>
    <td><%= link_to 'Show', r_eport %></td>
    <td><%= link_to 'Edit', edit_r_eport_path(r_eport) %></td>
    <td><%= link_to 'Destroy', r_eport, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New R eport', new_r_eport_path %>
