<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @r_eport.name %>
</p>

<p>
  <b>Email:</b>
  <%= @r_eport.email %>
</p>


<%= link_to 'Edit', edit_r_eport_path(@r_eport) %> |
<%= link_to 'Back', r_eports_path %>
