<h1>Listing All reports</h1>
<br>
<table>
  <tr>
    <th>Time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reports.each do |report| %>
  <tr>
    <td><%= report.time %> - <%= time_ago_in_words (report.created_at)%></td>
    <td><%= link_to 'Show', report %></td>
    <td><%= link_to 'Edit', edit_report_path(report) %></td>
    <td><%= link_to 'Destroy', report, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Report', new_report_path %>

<br>
<p>
  This is a link back to the home page <%= link_to "Home", static_pages_home_path %>
</p>
